<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project2 BILLBOARDS</title>
<style>

.panel {
color:rgb(122, 88, 88);
padding-top: 15px;
padding-bottom: 15px;
border-radius: 4px 4px 0px 0px;
border-bottom: 1px solid rgb(223, 200, 126);
}

</style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

<div class="card">
    <div class="card-body">
        <h4 class= "card-title">BB Charts Project Dashboard </h4>
    </div>

</div>
<div class="container-fluid">

<div class="row">
            <div class="col-md-3">
                <div class="well">
                    <h5>Generate View:</h5>
                    <select id="selDataset" onchange="change(this.value)"></select>
                </div>
                    <div class="panel panel-primary">
                     <div class="panel-heading">
                     <h3 class="panel-title"> General List of Music </h3>
                    </div>
                     <div id="chart-metadata" class="panel-body"></div>
</div>
            </div>
        </div>
        
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="chartView"></div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>